
$g-color: #616161; // Серый цвет текст
$t-color: #424242; // цвет текста
$h-color: #141414; // Цвет заголовков
$m-color: #ff717b; // Основной цвет
$success-color: #79d467;
$transition: all .3s ease;

$gap: 16px; // Стандартный пробел между блоками